@font-face  {
  font-family: GOTFont;
  src: url("../../css/Game\ of\ Thrones.ttf");
}

.order-container {
  background: rgb(40,40,40);
}

.order-container {
  text-align: center;
}

.order-headline {
  margin: 2rem auto;

}

.order-quantity {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 1.5rem;
}

.order-img {
  margin: 0 auto;
  padding:1rem;
  height: 250px;
  width: 250px;
}

.order-title {
  font-size: 1rem;
  text-align: center;
}

.order-desc {
  font-size: .75rem;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
}


